In [1]:
import numpy as np
import pandas as pd

In [2]:
def load_and_describe_data(fp):
    df = pd.read_parquet(fp)
    print('Shape:', df.shape)
    print('dtypes:', df.dtypes)
    display(df.sample(3).T)
    return df

# Artifact A2: Historic Job Trace

In [3]:
a2_df = load_and_describe_data('../data/historic_job_trace.parquet')

Shape: (2557884, 20)
dtypes: submit_time           datetime64[us, pytz.FixedOffset(-360)]
start_time            datetime64[us, pytz.FixedOffset(-360)]
end_time              datetime64[us, pytz.FixedOffset(-360)]
nodes_req                                              int64
processors_req                                         int64
qos                                                   object
wallclock_used_sec                                   float64
avg_power_per_node                                   float64
wallclock_req_sec                                    float64
memory_req_raw                                       float64
modules                                               object
conda_envs                                            object
user                                                  object
name                                                  object
account                                               object
partition                                             object
script                                                object
submit_line                                           object
job_type                                              object
job_id                                                 int64
dtype: object

,2115517,1192044,2440874
submit_time,2024-12-17 20:40:46-06:00,2024-07-17 18:42:38-06:00,2025-02-14 10:22:06-06:00
start_time,2024-12-17 20:41:25-06:00,2024-07-17 19:38:53-06:00,2025-02-14 10:22:44-06:00
end_time,2024-12-17 20:53:54-06:00,2024-07-17 19:43:49-06:00,2025-02-14 10:28:29-06:00
nodes_req,1,1,1
processors_req,36,1,1
qos,normal,normal,normal
wallclock_used_sec,749.0,296.0,345.0
avg_power_per_node,434.831776,465.033784,407.037681
wallclock_req_sec,3600.0,172800.0,14400.0
memory_req_raw,85176.0,2366.0,2366.0
modules,[module000046],"[module000046, module000105]",[module000062]
conda_envs,[condaenv000282],[condaenv000415],[condaenv000019]
user,user_0000730,user_0000417,user_0000125
name,name_0460925,name_0432885,name_0296985
account,account_0000132,account_0000019,account_0000044
partition,partition_0000015,partition_0000017,partition_0000015
script,script_0925730,script_0109786,script_1183895
submit_line,submit_line_0000468,submit_line_0643772,submit_line_0091709
job_type,job_type_0000008,job_type_0000015,job_type_0000034
job_id,2115517,1192044,2440874

# A4: Baseline Model Results

## Power Results

In [4]:
a4_power_df = load_and_describe_data('../data/baseline_power_results.parquet')

Shape: (1035281, 2)
dtypes: avg_power_per_node    float64
predicted_power       float64
dtype: object

                      772323      204810      460075
avg_power_per_node  524.2500  535.364906  571.255938
predicted_power     636.3891  516.139900  604.781100

## Runtime Results

In [5]:
a4_power_df = load_and_describe_data('../data/baseline_runtime_results.parquet')

Shape: (1035281, 2)
dtypes: wallclock_used_sec         float64
predicted_runtime_hours    float64
dtype: object

                               586113        916227       771662
wallclock_used_sec       26305.000000  12671.000000  1145.000000
predicted_runtime_hours      2.724414      3.727105     1.253442

In [6]:
# Convert wallclock_used_sec to hours for comparison
a4_power_df['wallclock_used_hours'] = a4_power_df['wallclock_used_sec'] / 3600
a4_power_df.sample(3).T

                               964752     151579      782073
wallclock_used_sec       18146.000000  11.000000  951.000000
predicted_runtime_hours      2.337738   0.071001    1.139172
wallclock_used_hours         5.040556   0.003056    0.264167

# A8 Encrypted Embeddings

In [7]:
sample_chunk = 0
a8_sample_df = load_and_describe_data(f'../data/encrypted_embeddings/chunk_{sample_chunk:03}.parquet')

Shape: (40000, 6)
dtypes: submit_time           datetime64[us]
start_time            datetime64[us]
end_time              datetime64[us]
avg_power_per_node           float64
wallclock_used_sec           float64
enc_embedding_int8            object
dtype: object

,32291,37157,38677
submit_time,2024-04-26 15:54:57,2024-04-29 12:08:04,2024-04-29 12:08:11
start_time,2024-04-27 19:49:50,2024-04-29 12:25:59,2024-04-29 13:05:11
end_time,2024-04-28 07:12:33,2024-04-29 12:27:31,2024-04-29 13:05:24
avg_power_per_node,776.490858,660.728261,500.846154
wallclock_used_sec,40963.0,92.0,13.0
enc_embedding_int8,"[11, -1, 0, -3, 7, 9, 5, -2, -3, -4, -4, 0, 5,...","[5, 5, 3, -9, 1, 2, 0, -2, 0, 0, -6, 3, -3, -6...","[7, 1, 4, -7, 2, 3, 2, 0, 0, -1, -8, 1, -1, -6..."

# A10 Semantic Search Results

In [8]:
a10_power_df = load_and_describe_data('../data/semantic_search_power_results.parquet')

Shape: (1035365, 2)
dtypes: avg_power_per_node    float64
predicted_power       float64
dtype: object

                        274260      907295      233658
avg_power_per_node  681.944341  410.338843  777.997674
predicted_power     680.989305  412.346154  763.409108

In [9]:
a10_power_df = load_and_describe_data('../data/semantic_search_runtime_results.parquet')

Shape: (1035365, 2)
dtypes: wallclock_used_sec         float64
predicted_runtime_hours    float64
dtype: object

                             844310       170831        102554
wallclock_used_sec       233.000000  9270.000000  12603.000000
predicted_runtime_hours    0.039603     3.617722      2.329008

In [10]:
# Convert wallclock_used_sec to hours for comparison
a10_power_df['wallclock_used_hours'] = a10_power_df['wallclock_used_sec'] / 3600
a10_power_df.sample(3).T

                            787828       454196      774273
wallclock_used_sec       33.000000  6283.000000  109.000000
predicted_runtime_hours   1.039375     0.656500    0.015394
wallclock_used_hours      0.009167     1.745278    0.030278

# A14 Ground Truth Schedule Data

In [11]:
a14_df = load_and_describe_data('../data/ground_truth.parquet')

Shape: (161266, 7)
dtypes: submit                 datetime64[ns]
start                  datetime64[ns]
end                    datetime64[ns]
nodes                           int64
runtime               timedelta64[us]
wait_time                     float64
avg_power_per_node            float64
dtype: object

,128510,75177,157068
submit,2024-09-12 16:24:39,2024-09-06 13:25:43,2024-09-14 20:42:32
start,2024-09-12 20:49:16,2024-09-06 13:44:07,2024-09-14 22:30:24
end,2024-09-12 22:10:25,2024-09-06 13:48:27,2024-09-14 23:22:11
nodes,1,1,1
runtime,0 days 01:21:09,0 days 00:04:20,0 days 00:51:47
wait_time,15877.0,1104.0,6472.0
avg_power_per_node,745.898542,331.461538,764.808497

# A15 Validation Simulation Schedule Data

In [12]:
a15_df = load_and_describe_data('../data/validation_sim.parquet')

Shape: (161266, 7)
dtypes: submit                 datetime64[ns]
start                  datetime64[ns]
end                    datetime64[ns]
nodes                           int64
runtime               timedelta64[us]
wait_time                     float64
avg_power_per_node            float64
dtype: object

,106333,21589,68185
submit,2024-09-10 11:56:21,2024-09-03 04:25:43,2024-09-05 18:05:23
start,2024-09-10 11:56:21,2024-09-03 16:12:56.500000,2024-09-06 13:31:21.500000
end,2024-09-10 11:58:42,2024-09-03 16:17:51.500000,2024-09-06 14:22:57.500000
nodes,1,1,1
runtime,0 days 00:02:21,0 days 00:04:55,0 days 00:51:36
wait_time,0.0,42433.5,69958.5
avg_power_per_node,369.134752,428.501695,761.34916

# A16 Baseline Simulation Schedule Data

In [13]:
a16_df = load_and_describe_data('../data/baseline_sim.parquet')

Shape: (161266, 7)
dtypes: submit                 datetime64[ns]
start                  datetime64[ns]
end                    datetime64[ns]
nodes                           int64
runtime               timedelta64[us]
wait_time                     float64
avg_power_per_node            float64
dtype: object

,153732,161111,98664
submit,2024-09-14 11:31:57,2024-09-15 18:07:49,2024-09-10 08:38:46
start,2024-09-14 13:22:36.500000,2024-09-15 20:22:31,2024-09-10 09:24:03.500000
end,2024-09-15 04:20:44.500000,2024-09-15 20:22:59,2024-09-10 09:24:10.500000
nodes,1,1,1
runtime,0 days 14:58:08,0 days 00:00:28,0 days 00:00:07
wait_time,6639.5,8082.0,2717.5
avg_power_per_node,738.508351,406.785714,447.714286

# A18 Energy-Aware Simulation Schedule Data

In [14]:
a18_df = load_and_describe_data('../data/ea_sim.parquet')

Shape: (161266, 7)
dtypes: submit                 datetime64[ns]
start                  datetime64[ns]
end                    datetime64[ns]
nodes                           int64
runtime               timedelta64[us]
wait_time                     float64
avg_power_per_node            float64
dtype: object

,120977,75901,140736
submit,2024-09-12 01:20:58,2024-09-06 14:41:42,2024-09-13 11:25:13
start,2024-09-12 01:29:08.500000,2024-09-06 21:47:36,2024-09-13 11:25:41.500000
end,2024-09-12 01:32:26.500000,2024-09-06 21:52:17,2024-09-13 11:53:37.500000
nodes,1,1,1
runtime,0 days 00:03:18,0 days 00:04:41,0 days 00:27:56
wait_time,490.5,25554.0,28.5
avg_power_per_node,313.535354,318.338078,260.045346

# A19 Optuna Results

In [16]:
a18_df = load_and_describe_data('../data/optuna_results.parquet')

Shape: (500, 7)
dtypes: alpha                object
beta                 object
gamma                object
start                object
end                  object
median_wait_time    float64
re_utilization      float64
dtype: object

                       173       480       384
alpha               2.2760    2.1803    0.8365
beta                2.4701    2.5238    4.6054
gamma               0.3889    0.1664    0.3357
start               6.7588    9.4426    7.7787
end                 9.6131    9.6303    9.2226
median_wait_time  2.172361  2.849722  3.498472
re_utilization    0.230636   0.23027  0.232745